# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Prod binary, built with `make`
gorfbot

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# NixOS / direnv
.envrc
shell.nix

# Local notes
TODO.md

# Local config
config.yml
